<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/avadoc</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
         
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.AtividadeAdministrativaRepresentacao" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.AtividadeEnsino" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.AtividadeOutra" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.AtividadePesquisaExtensao" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.ExtratoAtividades" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.ProducaoIntelectual" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.Producao" />
        <mapping class="br.ufg.inf.avadoc.modelo.atividade.Produto" />
        <mapping class="br.ufg.inf.avadoc.modelo.Docente" />
        <mapping class="br.ufg.inf.avadoc.modelo.Usuario" />
    </session-factory>
</hibernate-configuration>

